* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
}

.owl-carousel .owl-nav {
  display: none;
}

#myNav .nav__content select {
  background-color: #292560;
  color: #fff;
}

#pop-up__cart__btn {
  display: none;
}

#pop-up__cart__btn .pop-up__cart__btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px 20px;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  display: block;
}

#pop-up__cart__btn .pop-up__cart__btn:hover {
  background-position: right center;
  color: #fff;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.header__top .top__left span {
  font-size: 14px;
  color: #b5b5b5;
}

.header__top .top__right a {
  font-size: 14px;
  color: #b5b5b5;
  margin-left: 15px;
  transition: all 0.5s;
}

.header__top .top__right a:hover {
  color: #fdb03d;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom .bottom__left a {
  font-size: 26px;
  font-weight: 700;
}

.header__bottom .bottom__left a span {
  color: #fdb03d;
  font-size: 38px;
}

.header__bottom .bottom__right button {
  margin-left: 35px;
  font-size: 18px;
  background-color: #fff;
  border: none;
}

nav {
  margin-top: 15px;
  background-color: #292560;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav .nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__content .nav__left span {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

nav .nav__content .nav__right a {
  margin-left: 35px;
  color: #fff;
  transition: all 0.5s;
}

nav .nav__content .nav__right a:hover {
  color: #fdb03d;
}

.product-cart .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.product-cart .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 950px;
  height: 550px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.product-cart .content .close-btn {
  color: red;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
  font-size: 20px;
}

.product-cart .content #cart-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.product-cart .content #cart-pay .pay-title {
  font-weight: bold;
}

.product-cart .content #cart-pay .pay-action button {
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.product-cart .content #cart-pay .pay-action .pur-action {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}

.product-cart .content #cart-pay .pay-action .pur-action:hover {
  background-position: right center;
  color: #fff;
}

.product-cart .content #cart-pay .pay-action .clear-action {
  margin-left: 15px;
  background-image: linear-gradient(to right, #c04848 0%, #480048 51%, #c04848 100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}

.product-cart .content #cart-pay .pay-action .clear-action:hover {
  background-position: right center;
  color: #fff;
}

.active .overlay {
  display: block;
}

.active .content {
  padding-right: 50px;
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.carousel__content {
  margin-top: 35px;
}

.product__item {
  margin-top: 35px;
  margin-bottom: 35px;
}

.product__item .card {
  border-radius: 15px;
  transform: translateY(0);
  transition: all 0.5s;
}

.product__item .card:hover {
  transform: translateY(-15px);
}

.product__item .card:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #60efff 0%, #0061ff 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.product__item .card:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.product__item .card:hover .card-header {
  transform: scale(1.05);
}

.product__item .card .card-header {
  background: transparent;
  transform: scale(1);
  transition: all 0.5s;
}

.product__item .card .pro__content {
  font-size: 15px;
  height: 150px;
}

.product__item .card .pro__content .pro__name {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.product__item .card .pro__content .pro__prices {
  color: #dd4b39;
  font-size: 18px;
  text-align: center;
}

.product__item .card .card-footer {
  background: transparent;
}

.product__item .card .card-footer .pro__prices {
  font-size: 26px;
  font-weight: 700;
  color: #dd4b39;
  text-align: center;
  display: block;
}

.product__item .card .card-footer .pro__addCart {
  font-size: 15px;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to right, #16222a 0%, #3a6073 51%, #16222a 100%);
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.product__item .card .card-footer .pro__addCart:hover {
  background-position: right center;
  color: #fff;
}

footer {
  background-color: #060e1f;
  padding-top: 35px;
  padding-bottom: 35px;
}

footer .content__top {
  display: grid;
  grid-template-columns: repeat(4, 1.25fr);
}

footer .content__top .footer__item .item__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

footer .content__top .footer__item .item__link li {
  font-size: 14px;
  margin-top: 15px;
}

footer .content__top .footer__item .item__link li a {
  color: #b5b5b5;
  transition: all 0.5s;
}

footer .content__top .footer__item .item__link li a:hover {
  color: #fdb03d;
}

footer .content__top .footer__item:nth-of-type(4) {
  font-size: 26px;
}

footer .content__top .footer__item:nth-of-type(4) .item__link a {
  margin-right: 15px;
}

footer .content__top .footer__item:nth-of-type(4) .item__link a:hover {
  filter: brightness(75%);
  transition: all 0.5s;
}

footer .content__top .footer__item:nth-of-type(4) .item__link .link__fb {
  color: #6788ce;
}

footer .content__top .footer__item:nth-of-type(4) .item__link .link__tw {
  color: #00acee;
}

footer .content__top .footer__item:nth-of-type(4) .item__link .link__gg {
  color: #dd4b39;
}

.oder-content {
  margin: 70px;
}

.oder-content .content__top .top__title {
  text-align: center;
  font-weight: 700;
}

.oder-content .content__top .top__img {
  margin: 35px 0;
}

.oder-content .content__top .top__img img {
  width: 40%;
}

.oder-content .content__top .top__img #img__delivery {
  display: none;
}

.oder-content .content__bottom .bottom__left #myCollapse {
  position: relative;
  display: none;
}

.oder-content .content__bottom .bottom__left #myCollapse::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #60efff 0%, #0061ff 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.oder-content .content__bottom .bottom__left #myCollapse::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.oder-content .content__bottom .bottom__left #myCollapse .card {
  border-radius: 15px;
  border-color: transparent;
}

.oder-content .content__bottom .bottom__left #myCollapse .card #headingOne {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.oder-content .content__bottom .bottom__left #myCollapse .card #headingOne:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.oder-content .content__bottom .bottom__left #myCollapse .card #headingOne button {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.oder-content .content__bottom .bottom__left #myCollapse .card #headingOne button:hover {
  text-decoration: none;
}

.oder-content .content__bottom .bottom__left #myCollapse .card #headingOne button:focus {
  box-shadow: none;
}

.oder-content .content__bottom .bottom__left #myCollapse #collapseOder .oder__item {
  margin: 70px 0;
}

.oder-content .content__bottom .bottom__left #myCollapse #collapseOder .oder__item .oder__image {
  width: 180px;
}

.oder-content .content__bottom .bottom__left #myCollapse #collapseOder .oder__item .oder__desc {
  font-size: 26px;
}

.oder-content .content__bottom .bottom__left #myCollapse #collapseOder .oder__item .oder__desc .quantity__desc {
  color: #00acee;
}

.oder-content .content__bottom .bottom__left #myCollapse #collapseOder .oder__item .oder__desc .amount__desc {
  color: #dd4b39;
}

.oder-content .content__bottom .bottom__left #myCollapse #collapseAmount {
  display: block;
  text-align: center;
  font-size: 38px;
  color: #dd4b39;
}

.backToTop {
  font-size: 18px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  background-color: #f55f8d;
  color: white;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.backToTop:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */