// Font size
$fs-1: 14px;
$fs-2: 15px;
$fs-3: 18px;
$fs-4: 26px;
$fs-5: 38px;

// Font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 700;

// Color
$color-black: #000000;
$color-red-bright: #dd4b39;
$color-orange-bright: #fdb03d;
$color-white: #fff;
$color-gray: #b5b5b5;
$color-blue-pure: #00acee;
$color-blue-moderate: #6788ce;
$color-blue-dark: #292560;
$color-blue-deep: #060e1f;

// Margin
$mg-1: 15px;
$mg-2: 35px;
$mg-3: 70px;

//Padding
$pd-1: 15px;
$pd-2: 35px;

// Border
$bd-0: none;

// Text style
$text-style-1: center;

// Display
$dp-1: block;